@{
    ViewBag.Title = "Eventos";
}
<section class="banner half">
    <article>
        <img src="~/Content/Images/handspraising.png" />

        <div class="inner">
            <header>

                <p>INFORMATE</p>
                <h2>Lo Que Está Pasando</h2>
            </header>
        </div>
    </article>
</section>
<div class="container">
          
   
    <div class="row">
        <div class="col-sm-8">
            <h3>Entra En Contacto Con Nosotros!</h3>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            
        </div>
        <div class="col-sm-4">
            <h3>Ministerio Internacional Desafío</h3>
           
            <p>
                Calle Colon Esquina Camacho - Ex Cine Tesla<br>
                La Paz, Bolivia<br>
            </p>
            <p><i class="fa fa-phone"></i> <abbr title="Teléfono">Telf</abbr>: 591-2 2204784</p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="mailto:desafiobo@gmail.com">desafiobo@gmail.com</a></p>
            
            <ul class="list-unstyled list-inline list-social-icons">
                @*<li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-page"><i class="fa fa-facebook fa-2x"></i></a></li>
    <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li class="tooltip-social youtube-link"><a title="YouTube" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page"><i class="fa fa-youtube fa-2x"></i></a></li>
    <li class="tooltip-social google-plus-link"><a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-page"><i class="fa fa-google-plus-square fa-2x"></i></a></li>*@
            </ul>
        </div>
    </div><!-- /.row -->
</div>