@{
    ViewBag.Title = "Ministerios";
}
<section class="banner half">
    <article>
        <img src="~/Content/Images/bible.jpg" />

        <div class="inner">
            <header>

                <p>UNETE</p>
                <h2>Nuestros Ministerios</h2>
            </header>
        </div>
    </article>
</section>
<div class="container">

    <div class="row">
        <div class="col-lg-12" style="margin-bottom:40px; margin-top:30px">
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/Images/mies.jpg" style="width:100%" />
            
        </div>
        <div class="col-md-5 text-center">
            <header>
                <h3>Ministerio de Alabanza</h3>
            </header>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-5 text-center">
            <header>
                <h3>Ministerio de Niños</h3>
            </header>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/Images/goodland.jpg" style="width:100%" />

        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/Images/mies.jpg" style="width:100%" />

        </div>
        <div class="col-md-5 text-center">
            <header>
                <h3>Ministerio de Interseción</h3>
            </header>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-5 text-center">
            <header>
                <h3>Ministerio de Medios</h3>
            </header>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/Images/goodland.jpg" style="width:100%" />

        </div>
    </div>
    <div class="row" style="display:none">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#servicio-uno">Alabanza</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#servicio-dos">Ujieres</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#servicio-tres">Danzoras</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#servicio-cuatro">Niños</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#servicio-cinco">Medios</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="servicio-uno" class="tab-pane fade in active">
                    <i class="fa fa-microphone  pull-left fa-4x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                    <!-- /.row -->
                    <!-- Service Tabs -->

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"></h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">
                            @*<h3>Service One</h3>
                                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <div id="servicio-dos" class="tab-pane fade">
                    <i class="fa fa-address-card-o pull-left fa-4x"></i>
                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"></h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                    </div>
                </div>
                <div id="servicio-tres" class="tab-pane fade">
                    <i class="fa fa-flag-o pull-left fa-4x"></i>
                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"></h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                    </div>
                </div>
                <div id="servicio-cuatro" class="tab-pane fade">
                    <i class="fa fa-user-o  pull-left fa-4x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"></h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                    </div>
                </div>
                <div id="servicio-cinco" class="tab-pane fade">
                    <i class="fa fa-facebook-square pull-left fa-4x"></i>
                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header"></h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">
                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                        <div class="col-sm-4">
                            <img src="http://placehold.it/750x450" class="img-responsive">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

